@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* * {
  padding: 0;
  margin: 0;
} */
body {
  font-family: "Inter", sans-serif;
  background: #202024;
  color: antiquewhite;
  font-size: 1em;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: antiquewhite;
}
a:visited {
  color: antiquewhite;
  transition: all 0.2s ease-in-out;
}
a:hover {
  color: #029aff;
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
}
a:active {
  color: rgb(60, 145, 255);
  transition: all 0.2s ease-in-out;
}
.avatar {
  width: 225px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px #2d2d2d93;
}
.container {
  max-width: 750px;
  margin: 0 auto;
  padding-top: 30px;
}
.info h1 {
  color: #eeeef1;
  font-weight: 900;
  line-height: 30px;
}
.info p {
  margin: 0;
  font-weight: 400;
  line-height: 21px;
  color: #aaaaae;
}
.info {
  display: flex;
  margin-bottom: 20px;
}
.info-text {
  margin-left: 40px;
}
.info-text h4 {
  margin: 40px 0 0 0;
  margin-bottom: 10px;
  color: #aaaaae;
  font-weight: 400;
  letter-spacing: 0.9px;
}

/* цвето блаоков */
.bg-antiqu {
  background: antiquewhite;
}
.bg-green {
  background: #e5ffe7;
}
.bg-black {
  background: #202024;
}
/* ^^^^^ цветa блаоков ^^^^^*/

.card {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.card h2 {
  color: #2d2d2d;
  margin-bottom: 10px;
}
.list {
  padding: 0 20px;
}
.list li {
  font-family: "Montserrat";
  font-weight: 600;
  color: #2d2d2d;
  margin-bottom: 10px;
}

/* TABLE */
.table {
  width: 100%;
}
.table td {
  padding-bottom: 10px;
}
.table td:nth-child(1) {
  font-family: "Montserrat";
  font-weight: 600;
  color: #2d2d2d;
}
.table td:nth-child(2),
.table td:nth-child(3) {
  color: #2d2d2d;
}
/* ^^^^^ TABLE ^^^^^*/
/* PORTFOLIO */
.card:nth-child(4) h2 {
  color: antiquewhite;
}
.card:nth-child(4) {
  padding: 15px 0 15px 20px;
}
.card .link-list {
  padding: 0px;
  list-style: none;
}
.card .link-list li {
  margin-bottom: 10px;
  border-bottom: 1px solid #202024;
}
.card .link-list li a {
  fill: antiquewhite;
  height: 24px;
  display: flex;
  align-items: center;
  gap: 7px;
  text-decoration: none;
}

.card .link-list li:nth-child(1):hover {
  text-decoration: none;
  border-bottom-color: #029aff;
  transition: all 0.3s ease-in-out;
}
.card .link-list li:nth-child(2):hover {
  text-decoration: none;
  border-bottom-color: #ff01d5;
  transition: all 0.3s ease-in-out;
}
.card svg {
  padding-right: 10px;
}
.card .link-list li:nth-child(1):hover .blue {
  color: #029aff;
  fill: #029aff;
  transition: all 0.3s ease-in-out;
}

.card .link-list li:nth-child(2):hover .pink {
  color: #ff01d5;
  fill: #ff01d5;
  transition: all 0.3s ease-in-out;
}
/* ^^^^^ PORTFOLIO ^^^^^ */

/*  CONTACT FORM  */

.contact h2 {
  color: #fafafa;
  text-align: center;
  margin-bottom: 30px;
}
.form-group label {
  display: block;
  font-weight: 500;
  font-size: 15px;
}
.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ccc;
  color: #fafafa;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
  background: transparent;
  margin-bottom: 10px;
  font-weight: bold;
}
.form-group input::placeholder,
.form-group textarea::placeholder {
  font-weight: normal;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.form-group input:focus::placeholder,
.form-group textarea:focus::placeholder {
  font-weight: normal;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.row {
  display: flex;
  margin-bottom: 20px;
}
.row > .form-group {
  width: 50%;
}
.row > .form-group:first-child {
  margin-right: 20px;
}
.btn {
  background: #000000;
  color: #fff;
  padding: 15px 20px;
  font-family: inherit;
  border: none;
  cursor: pointer;
  font-weight: 300;
  transition: opacity 0.3s ease;
}
.btn:hover {
  opacity: 0.9;
  transition: opacity 0.3s ease;
}
/* ^^^^^ CONTACT FORM ^^^^^ */

@media (max-width: 700px) {
  .info {
    display: block;
    text-align: center;
  }
}
